<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Food</title>
  </head>
  <body>
    <div class="products">
      <div class="cards">
        <div class="prod-card">
          <img src="./food.jpg" alt="" class="prod-img" />
          <h3 class="prod-heading">Paneer tikka</h3>
          <h2 class="prod-price"><span>Price:</span> &#8377; 499</h2>
          <button class="btn btn-prod">Add to cart</button>
        </div>
        <div class="prod-card">
          <img src="./food.jpg" alt="" class="prod-img" />
          <h3 class="prod-heading">Paneer tikka</h3>
          <h2 class="prod-price"><span>Price:</span> &#8377; 499</h2>
          <button class="btn btn-prod">Add to cart</button>
        </div>
        <div class="prod-card">
          <img src="./food.jpg" alt="" class="prod-img" />
          <h3 class="prod-heading">Paneer tikka</h3>
          <h2 class="prod-price"><span>Price:</span> &#8377; 499</h2>
          <button class="btn btn-prod">Add to cart</button>
        </div>
        <div class="prod-card">
          <img src="./food.jpg" alt="" class="prod-img" />
          <h3 class="prod-heading">Paneer tikka</h3>
          <h2 class="prod-price"><span>Price:</span> &#8377; 499</h2>
          <button class="btn btn-prod">Add to cart</button>
        </div>
        <div class="prod-card">
          <img src="./food.jpg" alt="" class="prod-img" />
          <h3 class="prod-heading">Paneer tikka</h3>
          <h2 class="prod-price"><span>Price:</span> &#8377; 499</h2>
          <button class="btn btn-prod">Add to cart</button>
        </div>
        <div class="prod-card">
          <img src="./food.jpg" alt="" class="prod-img" />
          <h3 class="prod-heading">Paneer tikka</h3>
          <h2 class="prod-price"><span>Price:</span> &#8377; 499</h2>
          <button class="btn btn-prod">Add to cart</button>
        </div>
      </div>
      <div class="cart">
        <h3 class="cart-heading">Cart</h3>
        <div class="cart-items">
          <div class="item">
            <p class="item-name">Paneer Tikka</p>
            <input type="number" class="item-quantity"></input>
            <p class="item-total">&#8377; 499</p>
          </div>
          <div class="item">
            <p class="item-name">Paneer Tikka</p>
            <input type="number" class="item-quantity"></input>
            <p class="item-total">&#8377; 499</p>
          </div>
          <div class="item">
            <p class="item-name">Paneer Tikka</p>
            <input type="number" class="item-quantity"></input>
            <p class="item-total">&#8377; 499</p>
          </div>
        </div>
        <div class="cart-total">
          <h3> &#8377; 1299</h3>
          <button class="btn btn-order">Order Now</button>
        </div>
      </div>
    </div>
  </body>
</html>
