<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Food</title>
  </head>
  <body>
    <div class="restaurants">
      <div class="top-bar">
          <div class="search-box">
              <div class="input-container">
                  <div class="locality">
                      <i class="fa fa-map-marker"></i>
                      <select class="location" name="location" id="location" onchange="getRestaurants(this.value)"></select>
                  </div>
                  <div class="divider"></div>
                  <div class="search-bar" >
                      <i class="fa fa-search"></i>
                      <input type="text" class="search" onkeyup="searchRestaurants(this.value)" placeholder="Search restaurant or dish">
                      <input type="submit">
                  </div>
              </div>
          </div>

          <div class="top-bar-right">
            <a class="login-btn" href="#">Login</a>
            <a class="register-btn" href="#">Register</a>
          </div>
      </div>
      

      <div class="filters">
        <div class="filter-container">
          <i class="fa fa-filter"></i>
          Filters
        </div>
        <div class="filter-container">
          Great offers
        </div>
        <div class="filter-container">
          Rating
          <i class="fa fa-angle-down"></i>
        </div>
      </div>

      <div class="main-heading">
        <h2 class="heading">Popular restaurants near you</h2>
      </div>

      <div class="cards" id="rest-card"></div>

      <div class="main-heading">
        <h2 class="heading">Our picks for you</h2>
      </div>

      <div class="cards" id="menu-cards"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      let locationElem = document.getElementById("location");
      let baseUrl = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;

      let restaurants=[]
      let menuitems=[]

      // Setting menu items array
      function setMenuitems(){
          menuitems=[]
          restaurants.forEach((data)=>{
              if(data.Menuitems.length>0){
                  data.Menuitems.forEach((menu)=>{
                      menuitems.push(menu)
                  })
              }
          })
      }

      // Function to show restaurants
      function showFetchedRestaurants(){
        $("#rest-card").empty()
        restaurants.forEach((rest)=>{
          let templateString = `<div class="rest-card" data-restaurantid=${rest.id} onclick="showRestaurant(this.dataset.restaurantid)">
                                    <div class="rest-img">
                                        <img src=${rest.image} alt=""/>
                                        <div class="rating">4 <i class="fa fa-star"></i></div>
                                    </div>
                                    <h4 class="rest-heading">${rest.name}</h4>
                                    <p class="rest-address">${rest.Location.landmark}, ${rest.Location.city}</p>
                                    <p class="rest-time">${rest.openingTime} - ${rest.closingTime}</p>
                                </div>`
          $("#rest-card").append(templateString)
        })
      }

      // Function to show menuitems
      function showFetchedMenuitems(){
          $("#menu-cards").empty()
          menuitems.forEach((menu)=>{
              let templateString =  `<div class="menu-card">
                                        <div class="menu-img">
                                            <img src="/images/menuitems/${menu.id}/${menu.image.images[0]}" alt=""/>
                                        </div>
                                        <div class="menu-details">
                                            <div class="details-left">
                                                  <h4 class="menu-heading">${menu.name}</h4>
                                                  <p class="menu-desc">${menu.description}</p>
                                            </div>
                                            <div class="details-right">
                                                  <p class="menu-price">&#8377; ${menu.price}</p>
                                                  <div class="add-menu"><i class="fa fa-plus"></i></div>
                                            </div>
                                        </div>
                                    </div>`
              $("#menu-cards").append(templateString)
          })
      }
        
      // Adding event listener on widnow to
      // get restaurants for default location on load
      window.addEventListener("load",()=>{
        let url = `${baseUrl}/api/v1/locations`;
        axios.get(url).then(({data})=>{
        return data.locations
        }).then((locations)=>{
          // console.log(locations)

          locations.forEach((loc=>{
              let templateString = `<option class="locationOptions" value=${loc.id}>${loc.city}</option>`
              $("#location").append(templateString)
          }))

        }).then(()=>{
          let defaultLocation = $("#location").val()
          getRestaurants(defaultLocation)
        })
      })

      // Get restuarants of selected location
      function getRestaurants(locationId){
        let url = `${baseUrl}/api/v1/restaurantsbylocation/${locationId}`;

        axios.get(url).then((data)=>{
          restaurants = [...data.data.restaurants]
          setMenuitems()
          showFetchedRestaurants()
          showFetchedMenuitems()
        })
      }

      // Function to call search api
      function searchRestaurants(value){
        let url = `${baseUrl}/api/v1/searchrestaurants`;
        let body = { locationId: $("#location").val(), search: value}
        axios.post(url,body).then((data)=>{
          restaurants = [...data.data.restaurants[0].restaurantList]
          menuitems = [...data.data.restaurants[1].menuitemList]
          showFetchedRestaurants()
          showFetchedMenuitems()
        })
      }
    </script>
  </body>
</html>