<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login</title>
  </head>
<body>
 
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#" id="signin-form">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social-link"><i class="fa fa-google"></i></a>
				<a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" id="email" />
			<input type="password" placeholder="Password" id="password" />
			<a href="#" id="pass"> Forgot your password?</a>
			<button type="submit" id="login" class="btn btn-login" >Sign In</input>
		</form>
	</div>

	{{!-- Overlay  --}}
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Welcome!</h1>
				<p>Enter your personal details and start journey with us</p>
				<a class="btn btn-register" id="signUp" href="/api/v1/register">Sign Up</a>
			</div>
		</div>
	</div>
</div>


	<script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script>
		
		 let baseUrl = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;

		 $("#signin-form").submit(function(e){
			let email = $("#email").val();
			let password = $("#password").val() 
			// console.log(email, password)
			let url = `${baseUrl}/api/v1/login`
			let body = {email, password}
			axios.post(url, body).then((res)=>{
				console.log(res.status)
				// console.log(res.data.message)
					alert(res.data.message)
			}).catch((err)=>{
				alert(err)
			})
		 })


		  document.getElementById('pass').onclick = function(e){
                e.preventDefault();
                const form = document.getElementById('signin-form');
                
                // getting the element's value
                const email = form.elements['email'].value;
                
                const data = {
                  email :email ,
     
                }
				console.log(data)
                axios.post(
                  `${baseUrl}/api/v1/forgetPassword`,
                   data,
                ).then(res => {
                  console.log(res)
				  alert(`Password reset link has been sent to ${email}`)
                  
                })
                .catch(err => {
                  console.log(err.response.data)
                })
              }
	</script>

</body>
</html>

