<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/pass.css" />
    <title></title>
  </head>
<body>
 
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#" id="signin-form">
			<h2>Reset Password</h2>
			<input type="password" placeholder="password" id="password" />
			<input type="password" placeholder=" Confirm Password" id="confirm_password" />
			
			<button type="submit" id="login" class="btn btn-login" >Reset</input>
		
		</form>
	</div>
	</div>
  
	
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>

<script>
  let port = window.location.port ? ':'+window.location.port: '';
  let baseUrl = `${window.location.protocol}//${window.location.hostname}${port}`;

  const queryString = window.location.search;
  console.log(queryString);
  const urlParams = new URLSearchParams(queryString);
  console.log(urlParams);
  const userId = urlParams.get('userId');
  console.log(userId);

  document.getElementById('login').onclick = function(e){
                e.preventDefault();
                const form = document.getElementById('signin-form');
                
                // getting the element's value
                const password = form.elements['password'].value;
                const  confirmPassword = form.elements['confirm_password'].value;
                const data = {
                  password :password ,
                   confirmPassword:confirmPassword 
                }
                axios.post(
                  `${baseUrl}/api/v1/resetPassword/${userId}`,
                   data,
                ).then(res => {
                  alert(res.data.message)
                  window.location=`${baseUrl}/api/v1/login`
                  //model create
                })
                .catch(err => {
                  alert(err.response.data.error)
                })
              }
</script>
</body>
	</html>