<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class='card'>
        <div class='upper-side'>
            <i class="fa fa-check-circle-o checkmark"></i>
            <h3 class='status'>Success</h3>
        </div>
        <div class='lower-side'>
            <p class='message'>Congratulations, your order is placed !</p>
            <a class="btn" id="rzp-button1">Pay to Proceed </a>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
            axios.post('http://localhost:8080/api/v1/payment/order').then((data)=>{
                console.log(data)
                console.log(data.data.data.id)
                var options = {
                      "key": "rzp_test_uYURsxfax869Qb",
                      "amount": data.data.data.amount,
                      "currency": data.data.data.currency,
                      "name": "Acme Corp",
                      "description": "Test Transaction",
                      "image": "https://example.com/your_logo",
                      "order_id": data.data.data.id,
                      "handler": function (response){
                              axios.post('http://localhost:8080/api/v1/isordercomplete',response).then(res=>{
                                console.log(res.data.redirectUrl);
                                window.location = res.data.redirectUrl
                              })
                              console.log("payment_id:",response.razorpay_payment_id);
                              console.log("order_id:",response.razorpay_order_id);
                              console.log("signature:",response.razorpay_signature);
                      },
                      "theme": {
                          "color": "#3399cc"
                      }
                };

              var rzp1 = new Razorpay(options);
              rzp1.on('payment.failed', function (response){
                    window.location = "http://localhost:8080/api/v1/paymentfailure";
                    //alert(response.error.code);
                    //alert(response.error.description);
                    //alert(response.error.source);
                    //alert(response.error.step);
                    //alert(response.error.reason);
                    //alert(response.error.metadata.order_id);
                    //alert(response.error.metadata.payment_id);
              });
              document.getElementById('rzp-button1').onclick = function(e){
                rzp1.open();
                e.preventDefault();
              }
            })
    </script>
</body>
</html>
