@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.go-to-home{
  padding: .5rem;
  width: 180px;
  color: var(--color-green);
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all .3s ease;
}

.go-to-home .fa{
  font-size: 1rem;
  color: var(--color-green);
  transition: all .3s ease;
}

.go-to-home:hover{
  color: var(--color-green);
  text-decoration: none;
}

.go-to-home:hover .fa{
  margin-right: .1rem;
}

.details-container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 2rem;
}

.card {
  padding: 1rem 2rem;
  line-height: 1.5em; 
}


/* Product details */
.product-title, .price, .sizes, .colors {
  text-transform: uppercase;
  font-weight: bold; 
}

.checked, .price span {
  color: #ff9f1a; 
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; 
}

.product-title {
  margin-top: 0; 
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}


/* Stars */
.stars {
    list-style: none;
}

.stars .fa-stars{
  padding: 0;
}

.stars li {
  display: inline-block;
  padding: 0 0px;
}
.stars li i {
  color: rgba(0,0,0,0.2);
}
.stars[rating="1"] li:nth-child(-n+1) i {
  color: #ff9f1a;
}
.stars[rating="2"] li:nth-child(-n+2) i {
  color: #ff9f1a;
}
.stars[rating="3"] li:nth-child(-n+3) i {
  color: #ff9f1a;
}
.stars[rating="4"] li:nth-child(-n+4) i {
  color: #ff9f1a;
}
.stars[rating="5"] li:nth-child(-n+5) i {
  color: #ff9f1a;
}

.review-no{
  font-size: .9rem;
  font-weight: 500;
  color: var(--color-lightgray);
}

.product-description{
  font-size: 1rem;
  color: var(--color-gray);
}

/* Buttons */
.add-to-cart{
  text-transform: uppercase;
  font-size: .75rem !important;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--color-white);
  transition: background .3s ease; 
}

.add-to-cart .fa-star{
  font-size: .9rem;
  color: var(--color-white);
}

.like{
  padding: .45rem 1rem !important;
  margin-left: .5rem;
}

.like .fa-heart{
  font-size: 1rem !important;
  color: var(--color-green);
  transition: all .3s ease;
}

.like:hover .fa-heart{
  color: var(--color-white);
}

/* tabs */

.tab {
  overflow: hidden;
  width: 98%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: var(--color-gray);
  border: none;
  border-bottom: 3px solid transparent;
}

/* Change background color of buttons on hover */
.tab button:hover,.tab button.active {
  border-color: var(--color-green);
  color: var(--color-green);
}

/* Style the tab content */
.tabcontent {
  width: 98%;
  margin: 0 auto;
  display: none;
  overflow: hidden;
  padding: 6px 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: none;
  padding: .75rem;
}

#Overview h5{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-dark);
  letter-spacing: 1px;
}

#Overview p{
  font-size: .9rem;
  font-weight: 500;
  color: var(--color-gray);
}

/* Order online */
.details-menu-container{
  max-width: 1000px;
}

#Online-Order .heading{
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-dark);
  letter-spacing: 1px;
  text-align: center;
}

.details-menucard{
  margin-bottom: 1rem;
  border-radius: 5px;
}

.details-menucard .card-body{
  padding: .5rem;
}

.details-menucard .card-title{
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-dark);
  margin-bottom: .25rem;
}

.details-menucard .card-price{
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-gray);
  margin-bottom: .25rem;
}

.details-menucard .card-desc{
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-lightgray);
}

/* Cart toggler */
.cart-toggler{
  position: fixed;
  z-index: 100;
  background-color: var(--color-white);
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 8px 30px rgba(0,0,0,0.30), 0 0px 10px rgba(0,0,0,0.25);
}

.cart-toggler-main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: .4rem 0;
}

.cart-toggle-btn{
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  border: 1px solid var(--color-lightgray);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease;
}

.cart-toggle-btn .fa-caret-down,
.cart-toggle-btn .fa-caret-up{
  margin-bottom: 3px;
  transition: all .3s ease;
  color: var(--color-lightgray);
}

.cart-toggle-btn:hover{
  border-color: var(--color-gray);
}

.cart-toggle-btn:hover .fa-caret-down,
.cart-toggle-btn:hover .fa-caret-up{
  color: var(--color-gray);
}

.cart-toggler-heading,
.cart-toggler-subtotal{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-dark);
  margin-bottom: 0;
}

.cart-toggler-heading{
  margin-left: .5rem;
}

.cart-toggler-subtotal{
  margin-right: .5rem;
}

#clear-cart{
    display: none;
}

#clear-cart.active{
    display: block;
}

/* toggler order */
.order-details{
    width: 100%;
}

.order-content{
    display: none;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 270px;
    overflow-y: auto;
    transition: all .3s ease;
}

.order-content.active{
    display: block;
}

.order-details-heading{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-dark);
    margin-top: .5rem;
}

.order-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.item-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-gray);
}

.quantity-price{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity{
    border: 1px solid var(--color-lightgray);
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem;
}

.quantity .fa-plus,
.quantity .fa-minus{
    color : var(--color-lightgray);
    font-size : 1rem;
    cursor: pointer;
    transition: all .3s ease;
}

.quantity .fa-plus:hover,
.quantity .fa-minus:hover{
    color : var(--color-green);
}

.price{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-dark);
    margin: 0;
}

.quantity-price .fa-trash-o{
    color:var(--color-red);
    transition: all .3s ease;
    cursor: pointer;
}

/* Payment checkout modal */
.payment-page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}

.payment-page.active{
    visibility: visible;
    opacity: 1;
}


.payment-page-content{
    background: var(--color-white);
    width: 98%;
    max-width: 1000px;
    height: 600px;
    padding: .5rem;
    border-radius: 5px;
}

.go-to-rest{
  padding: .5rem;
  width: 180px;
  color: var(--color-green);
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer;
}

.go-to-rest .fa{
  font-size: 1rem;
  color: var(--color-green);
  transition: all .3s ease;
}

.go-to-rest:hover{
  color: var(--color-green);
  text-decoration: none;
}

.go-to-rest:hover .fa{
  margin-right: .1rem;
}

.payment-heading{
    font-size: 1.75rem;
    font-weight: 600; 
    color: var(--color-dark);
    margin-top: .5rem;
    padding: .5rem 0rem;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    margin-bottom: 1rem;
}

.payment-content{
    width: 100%;
    margin: 0 auto;
}

.payment-address{
    padding: 0 .5rem !important;
}

.delivery-address-heading,
.order-summary-heading,
.payment-method-heading{
    font-size: 1.25rem;
}

.add-new-address{
    border: 1px solid rgba(0, 0, 0, .15);
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem;
    border-radius: 3px;
    margin-bottom: .75rem;
    border-radius: 3px;
    color: var(--color-green);
    cursor: pointer;
}

.address-text{
    border:  1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 55px;
    max-height: 75px;
    padding: .25rem .5rem;
    outline: none
}

.add-new-address .fa-plus{
    color: var(--color-green);
    font-size: .95rem;
    margin: .25rm .5rem;
}

.payment-method-radio{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.radio-item {
  display: block;
  position: relative;
  padding: 0 6px;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: var(--color-gray);
  font-weight: normal;
  margin-right: 1rem;
}

.radio-item label:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  left: -1px;
  margin: 0 5px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--color-green);;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px;
  left: 7px;
  content: "";
  display: block;
  background: var(--color-green);
}


.order-summary{
    padding: 0 .75rem !important;
}

.order-from{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(0, 0, 0, .05);
    padding: .5rem .75rem;
}

.order-from-heading{
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--color-gray);
    margin-bottom: 0;
}

.order-from-rest{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-dark);
    margin-bottom: 0;
}

.order-itms{
    height: 180px;
    border: 1px solid rgba(0, 0, 0, .15);
    padding: 0 .5rem;
    overflow-y: auto;
}

.order-itm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;
}

.order-item-name .name{
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-dark);
    margin: 0;
}

.order-item-name .price{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-gray);
    margin: 0;
}

.payment-details{
    border: 1px solid rgba(0, 0, 0, .15);
    padding: .25rem;
}

.payment-list-wrapper{
    margin-bottom: .25rem;
}

.payment-list-wrapper .payment-list-item:first-child{
    color: var(--color-dark);
    font-size: 1.1rem;
}

.payment-list-item{
    padding: .1rem .5rem;
    color: var(--color-gray);
    font-size: .75rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-total-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-lightgray);
    font-size: 1.25rem;
    font-weight: 600;
}

.payment-total-wrapper h3{
    font-size: 1.25rem;
    margin: 0; 
}

.order-for{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(0, 0, 0, .05);
    padding: .5rem .75rem;
}

.order-for-heading{
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--color-gray);
    margin-bottom: 0;
}

.order-for-rest{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-dark);
    margin-bottom: 0;
}

.place-order{
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    padding: .75rem;
    margin-top: .75rem;
}


/* Review Modal */
.review-modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  /* opacity: 0; */
  /* visibility: hidden; */
  opacity: 1;
  visibility: visible;
  transition: all .3s ease;
}

.review-modal-inner.modal-active{
  visibility: visible;
  opacity: 1;
}

.review-modal-inner{
  background-color: var(--color-white);
  border-radius: 10px;
  width: 90%;
  max-width: 420px;
}

.review-modal-header{
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.review-modal-header h3{
  font-size: 1.5rem;
}

.review-modal-body{
  padding: .5rem 1rem;
}

.review-modal-body > h3{
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-gray);
  margin-bottom: .25rem;
}

.review-modal-body > p{
  font-size: .8rem;
  font-weight: 500;
  /* letter-spacing: 1px; */
  text-align: center;
  color: var(--color-lightgray);
  margin-bottom: .5rem;
}

.review-modal-forms{
}

.review-modal-rating{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 .5rem;
}

.reviews-stars{
  height: 45px;
}

.reviews-stars>[id^="star"] {
    display: none
}

.reviews-stars>label:before {
    margin: .25rem;
    font-size: 1.5rem;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005"
}

.reviews-stars>.half:before {
    content: "\f089";
    position: absolute
}

.reviews-stars>label {
    color: #ddd;
    float: right
}

.reviews-stars>[id^="star"]:checked~label,
.reviews-stars:not(:checked)>label:hover,
.reviews-stars:not(:checked)>label:hover~label {
    color: #FFD700
}

.reviews-stars>[id^="star"]:checked+label:hover,
.reviews-stars>[id^="star"]:checked~label:hover,
.reviews-stars>label:hover~[id^="star"]:checked~label,
.reviews-stars>[id^="star"]:checked~label:hover~label {
    color: #FFED85
}

.fa-minus{
  font-size: .75rem;
}

.selected-rating{
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-gray);
  margin: 0 16px;
}

.reset-option {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-lightgray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    background-color: transparent;
    transition: all .3s ease;
    outline: none;
}

.reset-option:hover{
    background-color: rgba(0, 0, 0, .1);
    outline: none;
}

.reset-option:active,
.reset-option:focus,
.reset-option:focus-visible{
  border: 2px solid var(--color-lightgray) !important;
  outline: none !important;
}

.review-modal-feedback{
  display: flex;
  align-items: flex-start;
  justify-items: center;
  flex-direction: column;
  padding: 0 1rem;
}

.review-comment-label{
  font-size: .9rem;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-gray);
}

.review-comment{
    width: 100%;
    height: 80px;
    max-height: 80px;
    min-height: 80px;
    outline: none;
    padding: .25rem .5rem;
    margin-bottom: 1rem;
    border: 2px solid var(--color-lightgray);
    border-radius: 3px;
    color: var(--color-dark);
}
/* -------------------------------------------------------------------- */
ul.list-inline.stars i {
  font-size: 18px;
}
.cart-table td{
font-size: 1.5rem;
}

img {
  max-width: 100%; 
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
}


          
@media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; 
    } 
}

.preview-pic {
  height: 320px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; 
}

/* .tab-pane img{
    object-fit: cover;
} */
.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; 
}
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; 
}
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    height: 100%;
    display: block; 
}
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; 
    height: 100%;
}
.preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; 
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; 
}



@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }


.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }



.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */




/* style for review model*/
#feedback {
  max-width: 100%;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: solid 1px #f1f1f1;
  background: #fbfbfb;
  box-shadow: #e6e6e6 0 0 4px ;
  border-radius: 0.25rem;
}

@media (max-width: 720px) {
  #feedback{
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  #feedback{
    padding: 10px;
  }
}

#fh2{
  padding: 2px 15px;
  color: #ff4d4d;
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
 
}

@media (max-width: 400px) {
  #fh2{
    font-size: 16px;
  }
}


#fh6 {
 padding: 2px 15px;
 color: green;
 text-align: center;
 font-weight: normal;
}

@media (max-width: 400px) {
  #fh6{
    font-size: 12px;
  }
}

.pinfo {
  margin: 8px auto;
  font-weight: bold;
  line-height: 1.5;
  color: #0d0d0d;
}
.form-group {
  margin-bottom: 1rem;
}
  
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: bold;
  color: #6C6262;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #696060;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: none;
}

.form-control::-webkit-input-placeholder {
  color: #F34949;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: brown;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: blue;
  opacity: 1;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: red;
  opacity: 1;
}

.form-control:disabled {
  cursor: not-allowed;
}

select.form-control:not([size]):not([multiple]) {
  height: 35px;
  font-size: 14px;
  padding-left: 15px;
}

select.form-control:focus::-ms-value {
  color: green;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 35px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group .form-control:focus, .input-group .form-control:active, .input-group .form-control:hover {
  z-index: 3;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-addon,
.input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  width: 45px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: #2e2e2e;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.input-group-addon.form-control-sm,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .input-group-addon.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.input-group-addon.form-control-lg,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .input-group-addon.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle,
.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon:not(:last-child) {
  border-right: 0;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn:not(:first-child),
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-control + .input-group-addon:not(:first-child) {
  border-left: 0;
}

.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}

.btn-green,.btn-green:hover,.btn-green:visited{
  background-color: #0C9463;
  border-color: #0C9463;
  color: white;
}

/*review tab css*/
#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px, 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-heading h1{
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}
.testimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.testimonial-box{
  width: 45%;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.reviews {
  list-style: none;
}
.reviews li {
  display: inline-block;
  padding: 0 0px;
}
.reviews li i {
  color: #ddd;
}
.reviews[rating="1"] li:nth-child(-n+1) i {
  color: #ff9f1a;
}
.reviews[rating="2"] li:nth-child(-n+2) i {
  color: #ff9f1a;
}
.reviews[rating="3"] li:nth-child(-n+3) i {
  color: #ff9f1a;
}
.reviews[rating="4"] li:nth-child(-n+4) i {
  color: #ff9f1a;
}
.reviews[rating="5"] li:nth-child(-n+5) i {
  color: #ff9f1a;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
@media screen and (max-width:767px){.testimonial-box{width:100%}}

.btn-outline-success{
    color: #0C9463;
}
.btn-outline-success:hover{
  background-color: #0C9463;
}
