@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.container {
	background-color: var(--color-white);
	border-radius: 10px;
  	/* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  	box-shadow: 0 8px 30px rgba(0,0,0,0.30), 0 0px 10px rgba(0,0,0,0.25);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 97%;
	min-height: 480px;
}

.container-small{
	width: 360px;
	max-width: 97%;
	min-height: 320px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.form-100{
	width: 100%;	
}


.form-inner-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.form-heading{
	font-size: 2rem;
	font-weight: 700;
	margin: 0 0 1rem 0;
}

.form-sub-heading{
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0 0 1rem 0;
}

.social-container {
	margin: 0 0 .5rem 0;
}

.social-container a.social-link {
	border: 1px solid var(--color-lightgray);
	text-decoration: none;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 .25rem;
	height: 35px;
	width: 35px;
	transition: all .3s ease;
}

a.social-link:hover{
	border-color: var(--color-gray);
}

a.social-link .fa{
	font-size: 1.25rem;
	transition: all .3s ease;
}

a.social-link:hover .fa{
	color: var(--color-gray);
}

.separator{
	font-size: .8rem;
	font-weight: 600;
	margin-bottom: 1rem;
	letter-spacing: 1px;
	color: var(--color-dark);
}

form {
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 2rem;
	height: 100%;
	text-align: center;
}

.name-input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-container {
	border: .15rem solid var(--color-gray);
	border-radius: 5px;
	padding: .1rem;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

#mobile-div{
	padding: .1rem;
}

.input-container > .iti{
	width: 100%;
}

#mobile-div > .iti{
	width: 100%;
	border: .15rem solid var(--color-gray);
	border-radius: 5px;
}

.input-container > .iti .form-control{
	border: none;
	outline: none;
	padding: .25rem .75rem;
}

#mobile-div > .iti .form-control{
	border: none;
	outline: none;
}

.input-container > .iti .form-control:focus{
	border: none;
	outline: none;
	box-shadow: none;
}

#mobile-div > .iti .form-control:focus{
	box-shadow: none;
}

.input-container .iti--separate-dial-code .iti__selected-flag,
#mobile-div .iti--separate-dial-code .iti__selected-flag{
	background-color: var(--color-white);
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag{
	background-color: var(--color-white) !important;
}

.iti__country-list{
	width: 300px;
}
 
.input-container.error{
	border-color: var(--color-red);
	box-shadow: 0 0 .5rem .25rem rgb(220 53 69 / 15%);
}

.input-container.valid{
	border-color: var(--color-success);
	box-shadow: 0 0 .5rem .25rem rgb(40 167 69 / 15%);
}

.input-inner{
	padding: .3rem .75rem;
	border: none;
	outline: none;
	width: 100%;
	font-size: 1rem;
}

.name-input .input-container{
	width: 49%;
}

.input-icon{
	color: var(--color-lightgray);
    padding: 3px;
    font-size: 1rem;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-lock.input-icon,
.fa-user.input-icon{
	font-size: 1.25rem;
}

.fa.input-icon{
	position: relative;
}

.fa.input-icon::after{
	content: "";
    border: 1px solid rgba(0,0,0,0.2);
    height: 75%;
    position: absolute;
    right: -5px;
}

a.forget-password{
	font-size: .8rem;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 1rem;
	letter-spacing: 1px;
	color: var(--color-lightgray);
	transition: all .3s ease;
}

a.forget-password:hover{
	color: var(--color-gray);
}

/* ----------------- Overlay CSS ----------------- */
.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../images/bg/login.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.overlay-panel p{
	font-size: .9rem;
    font-weight: 600;
}