/*------------------TOP BAR CSS----------------------*/
.top-bar{
  width: 100%;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 2rem;
  background-color: var(--color-white);
}

.top-bar-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-bar-left .logo{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #8bc34a;
}

.top-bar-left .logo span {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-dark);
}

.top-bar-mid{
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


/* ----------------------- SEARCH BAR CSS ------------------------- */
.search-box{
  flex: 1;
  border-radius: 5px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 4px rgba(28, 28, 28, .2);
  padding:.25rem .5rem;
}

.input-container{
  display: flex;
  align-items: center;
}

.locality{
  flex: 1;
  display: flex;
}

.location{
  width: 100%;
  border: none;
  outline: none;
  font-size: .95rem;
  padding: 0 .25rem;
}

.divider{
  width: 0;
  height: 2rem;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 0 .5rem;
}


.fa-search{
  font-size: 1rem;
}

.search-bar{
  flex: 2;
  display: flex;
}

.search{
  width: 100%;
  border: none;
  outline: none;
  font-size: .95rem;
  padding: 0 .25rem;
}

.search::placeholder{
  color: var(--color-lightgray);
}


/*--------------- HEADINGS CSS -------------- */
.main-heading{
  max-width: 1140px;
  width: 95%;
  margin: .75rem auto 0;
}

.heading{
  font-size: 1.8rem;
  color: var(--color-dark);
  font-weight: 700;
}

/* ----------- RESTAURANTS CARDS CSS ------------------- */
.cards{
  max-width: 1140px;
  width: 95%;
  display: grid; 
  margin:0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 20px; 
}

.rest-card{
    width: 100%;
    background-color: var(--color-white);
    padding: .4rem;
    margin: .25rem 0;
    border-radius: .5rem;
    transition: all .3s ease;
    cursor: pointer;
}

.rest-card:hover{
  box-shadow: 0px 8px 24px rgba(28, 28, 28, .2);
}

.rest-img{
  width: 100%;
  height: 160px;
  border-radius: .5rem;
  position: relative;
}

.rest-img img{
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.rating{
    position: absolute;
    top: 170px;
    right: 3px;
    border-radius: 3px;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: .75rem;
    padding: 0.125rem .35em;
}

.rating .fa-star{
    color: var(--color-white);
    font-size: .75rem;
    margin: 0;
}

.rest-heading{
  margin: .5rem 0 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-dark);
}

.rest-address{
  color: var(--color-lightgray);
  font-size: .9rem;
  margin-bottom: .25rem;
}

.rest-time{
  color: rgba(0,0,0,0.4);
  font-size: .7rem;
  margin-bottom: .25rem;
}

@media (max-width: 768px){
  .cards{
    grid-template-columns: 1fr 1fr 1fr; 
  }
}

@media (max-width: 576px){
  .cards{
    grid-template-columns: 1fr 1fr; 
  }
}

@media (max-width: 360px){
  .cards{
    grid-template-columns: 1fr; 
  }
}

/* ------------- FILTER MODAL CSS ------------ */
.filter-modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  /* opacity: 1; */
  /* visibility: visible; */
  transition: all .3s ease;
}

.filter-modal.modal-active{
  visibility: visible;
  opacity: 1;
}

.filter-inner{
  background-color: var(--color-white);
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
}

/* Fitler header */
.filter-header{
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.filter-header h3{
  font-size: 1.5rem;
}

/* Filter footer */
.filter-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .2rem;
  border-top: 1px solid rgba(0,0,0,0.2);
}

/* Tabs */
.tabs{
    width:100%;
    height:auto;
    margin:0 auto;
    display: flex;
}

.tabs .tabs-list{
    list-style:none;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
}

.tabs .tabs-list li{
    flex: 1;
    width:120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0,0,0,0.1);
    border-left: 5px solid transparent;
    border-right: 1px solid rgba(0,0,0,0.1);
    padding-left: .75rem;
}

.tabs .tabs-list li:hover{
    cursor:pointer;
}
.tabs .tabs-list li a{
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 600;
}

/* Tab content section */
.tabs .tabs-content{
  flex: 1;
  margin-right: 1rem;
}

.tabs .tab{
    display:none;
    min-height:320px;
    height:auto;
    border-radius:3px;
    padding:.75rem .5rem;
    transition: all .3s ease;
 }

.tabs .tab h3{
    letter-spacing:1px;
    font-weight:normal;
    padding:5px;
}

.tabs .tab p{
    line-height:20px;
    letter-spacing: 1px;
}

/* When active state */
.active{
    display: block !important;
}

.tabs .tabs-list li.active{
    background-color: var(--color-white) !important;
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    border-left-color: var(--color-green);
}

.active a{
    color: var(--color-dark) !important;
}

/* Sort filter */
.radio-item {
  display: block;
  position: relative;
  padding: 0 6px;
  margin: .25rem 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: var(--color-gray);
  font-weight: normal;
}

.radio-item label:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  left: -1px;
  margin: 0 5px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--color-green);;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px;
  left: 7px;
  content: "";
  display: block;
  background: var(--color-green);
}

/* Price Slider Css */
.slider-wrapper{
    position: relative;
    width: 100%;
    background-color: var(--color-white);
    padding: 50px 40px 20px 40px;
}

.slider-container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 50%;
    background-color: transparent;
    pointer-events: none;
}

.slider-track{
    width: 100%;
    height: 5px;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    margin: auto;
    top: -1px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.25em;
    width: 1.25em;
    background-color: var(--color-green);
    cursor: pointer;
    border-radius: 50%;
    margin-top: -9px;
    pointer-events: auto;
}
input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: var(--color-green);
    cursor: pointer;
    border-radius: 50%;
    margin-top: -9px;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: var(--color-green);
    cursor: pointer;
    border-radius: 50%;
    margin-top: -9px;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: var(--color-white);
    border: 2px solid var(--color-green);
}

.slider-values{
    width: 100%;
    position: relative;
    margin: auto;
    padding: .25rem 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* Mealtype & Cuisines options */
.search-mealtype,
.search-cuisine{
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 2px;
}

.search-mealtype input,
.search-cuisine input{
  flex: 1;
  border: none;
  outline: none;
  font-size: .9rem;
  color: #1c1c1c;
  padding: .25rem;
}

.mealtype-checkboxes,
.cuisine-checkboxes{
  margin-top: .5rem;
  height: 245px;
  overflow-y: scroll;
}

.mealtype,
.cuisine{
  width: 49%;
  display: inline-block;
  padding-left: .5rem;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #ddd;
}

.styled-checkbox:hover + label:before {
  background: #0C9463;
}

.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #0C9463;
}

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}




/* --------------------------------------------- */
.cart{
  background-color: #fff;
  flex: 1;
  height: 100vh;
}

.cart-heading{
  text-align: center;
  font-size: 2rem;
}

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  margin-bottom: .5rem;
}

.item-quantity{
  width: 40px;
}

.cart-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

.btn-order{
  margin-right: 0;
}

.cart-total h3{
  font-size: 1.5rem;
}

/* menu card css */
.menu-card{
  width: 100%;
  background-color: var(--color-white);
  padding: .4rem;
  margin: .5rem 0;
  border-radius: .5rem;
  transition: all .3s ease;
}

.menu-img{
  width: 100%;
  height: 160px;
  border-radius: .5rem;
}

.menu-img img{
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.menu-details{
  margin-top: .5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu-heading{
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-dark);
}

.menu-desc{
 color: var(--color-gray);
  font-size: .8rem;
  line-height: 1.5;
}

.menu-price{
  color: var(--color-dark);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5;
}

/* biil start */

.payment-page-content{
  background:#fff;
  width:95%;
  max-width: 900px;
  margin:30px auto;
  padding:30px;
  border-radius: 10px;
}
.payment-page-content h2,
.payment-page-content h3{
  margin:0;
}
.payment-page-content h2{
  text-align:center;
}
.payment-list-wrapper{
  padding:0;
  margin:40px 0;
}
.payment-list-item{
  margin-top:10px;
  list-style-type:none;
  display:flex;
  justify-content:space-between;
  border-bottom:1px solid #808080;
  padding:5px 0;
}
.payment-total-wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.payment-confirmation-wrapper{
  margin:20px 0;
  display:none;
  flex-direction:column;
  justify-content:center;
  text-align:center;
}
.payment-selection-wrapper{
  margin:20px 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
}
.payment-button{
  margin:10px 0;
  padding:10px 0;
  background:#0C9463;
  color:#fff;
  font-weight:500;
  border:none;
}
.close-payment-choice{
  width: 50px;
    height: 30px;
    padding: 2px;
    font-size: 13px;
    margin-left: 270px;
    margin-top: 10px;
}


@media screen and (max-width:767px){
  .payment-page-content{
    width:100%;
  }
}
/* bill end */

/* cart start */
.fa-trash-o{
  font-size: 1.2rem;
}
.cart-heading{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}
.edit-btn{
  height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
}
.edit-btn:hover{
  background-color: #0C9463;
  color: white;
}
.subtotal{
  font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin-right: 38px;
    margin-top: 10px;
}

/* -------- User Menu ----------------- */
.user-menu-wrap {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-lightgray);
  border-radius: 50%;
}

.mini-photo-wrapper,
.mini-photo{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.menu-container {
  visibility: hidden;
  opacity: 0;
}

.menu-container.active {
  visibility: visible;
  opacity: 1;
}

.user-menu {
  position: absolute;
  z-index: 100;
  right: -20px;
  background-color: var(--color-white);
  width: 200px;
  border-radius: 3px;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-top: 20px;
}

.user-menu .profile-highlight {
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: .5rem;
}

.user-menu .profile-highlight .details {
  display: flex;
  flex-direction: column;
  margin: auto .25rem;
  color: var(--color-dark);
}

.user-menu .profile-highlight .details #profile-name {
  font-weight: 600;
  font-size: 1rem;
}


.user-menu .footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: .5rem 0;
}

.user-menu .footer .user-menu-link {
  font-size: .8rem;
}

.user-menu .user-menu-link {
  display: flex;
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 400;
  font-size: 14px;
  padding: .4rem .75rem;
}

.user-menu-link:hover{
  background-color: rgba(0,0,0,0.1);
  transition: all .3s ease;
}

.user-menu__item .btn-link-red{
  padding: .3rem .75rem;
  text-decoration: none;
  color: var(--color-red) !important;
}

/* delivery address */
.textarea-address{
  margin-right: 1rem;
    width: 365px;
    height: 70px;
}
.address-input{
  display: flex;
    align-items: center;
}