@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root{
  --color-green:#0C9463;
  --color-red: #dc3545;
  --color-success: #28a745;
  --color-dark: #1c1c1c;
  --color-white: #fff;
  --color-lightgray: #9c9c9c;
  --color-gray: #696969;
}

a{
  text-decoration: none;
  color: var(--color-white);
}

a:hover{
  color: var(--color-white);
}

ul {
  list-style: none;
}


body{
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../images/bg/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  line-height: 1.5;
}

/* ------------------- BUTTONS ------------------- */
.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  transition: all .3s ease;
}

.btn-green{
  color: var(--color-white);
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.btn-green:hover{
  filter: brightness(.9);
}

.btn-rounded{
  padding: .5rem .8rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-outlined-green{
  background-color: transparent;
  background-image: none;
  border-color: var(--color-green);
  color: var(--color-green);
}

.btn-outlined-green:hover{
  background-color: var(--color-green);
  border-color: var(--color-green);
  color: var(--color-white);
}

.btn-circular{
  font-size: 1.25rem;
  height: 30px;
  width: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: rgba(0,0,0,0.5);
  transition: all .3s ease;
}

.btn-circular:hover{
  background-color: rgba(0,0,0,0.2);
  color: var(--color-dark);
}

.fa{
  font-size: 1.25rem;
  color: var(--color-lightgray);
  padding: 3px;
}

.btn-outlined-gray{
  background-color: transparent;
  background-image: none;
  border-color: var(--color-lightgray);
  color: var(--color-lightgray);
}

.btn-outlined-gray:hover{
  border-color: var(--color-gray);
  color: var(--color-gray);
}

.btn-link-red{
  text-decoration: none;
  font-size: .9rem;
  color: var(--color-red);
  font-weight: 500;
}

.btn-link-red:hover{
  color: var(--color-red);
}


/* -------------- Input -------------- */
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: var(--color-white) !important;
    color: var(--color-dark) !important;
}




/* .card {
  max-width: 320px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.upper-side {
  padding: 1rem;
  background-color: #8BC34A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .5rem .5rem 0 0;
}

.upper-side-red{
  background-color: #dc3545;
}

.lower-side {
  padding: 2rem 1rem;
  background: rgb(230, 248, 212);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 .5rem .5rem;
}

.btn {
  text-decoration: none;
  background: #8bc34a;
  color: #fff;
  outline: none;
  border: none;
  margin: .5rem auto;
  padding: .8rem 3rem;
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  cursor: pointer;
	transition: all .4s ease;
  text-transform: uppercase;
}

.btn:hover {
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	transition: all .4s ease;
}

.fa {
  font-size: 48px;
  margin-bottom: .5rem;
}

.status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-bottom: 0;
}

.message {
  margin: .5rem 0;
  color: #757575;
  letter-spacing: 1px;
} */
