@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #eee;
    /* background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../images/bg/bg.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* padding-top: 2.5rem; */
}

.card {
  max-width: 320px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.upper-side {
  padding: 1rem;
  background-color: #8BC34A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .5rem .5rem 0 0;
}

.upper-side-red{
  background-color: #dc3545;
}

.lower-side {
  padding: 2rem 1rem;
  background: rgb(230, 248, 212);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 .5rem .5rem;
}

.btn {
  text-decoration: none;
  background: #8bc34a;
  color: #fff;
  outline: none;
  border: none;
  margin: .5rem auto;
  padding: .8rem 3rem;
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  cursor: pointer;
	transition: all .4s ease;
}

.btn:hover {
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	transition: all .4s ease;
}

.fa {
  font-size: 48px;
  margin-bottom: .5rem;
}

.status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-bottom: 0;
}

.message {
  margin: .5rem 0;
  color: #757575;
  letter-spacing: 1px;
}

/* Search Bar CSS */
.search-box{
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(28, 28, 28, .2);
  padding: .75rem .5rem;
}

.input-container{
  display: flex;
  align-items: center;
}

.fa-map-marker,
.fa-search{
  font-size: 1.5rem;
  margin: .5rem;
  color: #757575;
}

.fa-search{
  font-size: 1.2rem;
  margin-top: .7rem;
}

.locality{
  flex: 1;
  display: flex;
}

.location{
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-bar{
  flex: 2;
  display: flex;
}

.divider{
  width: 0;
  height: 40px;
  border: 1px solid #757575;
  margin: 0 .5rem;
}

.search{
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search::placeholder{
  color: #696969;
}

.restaurants{
  padding-top: .5rem;
}

.cards{
  max-width: 1140px;
  width: 95%;
  display: grid; 
  margin:0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  /* grid-template-rows: 1fr;  */
  gap: 0px 20px; 
}

.rest-card{
  width: 100%;
  background-color: #fff;
  padding: .5rem;
  margin: 1rem 0;
  border-radius: 10px;
  transition: all .3s ease;
  cursor: pointer;
}

.rest-card:hover{
  box-shadow: 0px 8px 24px rgba(28, 28, 28, .2);
}

.rest-img{
  width: 100%;
  height: 160px;
  border-radius: 10px;
  position: relative;
}

.rest-img img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.rating{
  position: absolute;
  top: 120px;
  right: 3px;
  border: 1px solid #ff9f1a;
  border-radius: 5px;
  color: #ff9f1a;
  font-size: .8rem;
  padding: .1rem .4rem;
}

.rating .fa-star{
  font-size: .8rem;
  margin: 0;
}

.rest-heading{
  margin: .5rem 0 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #1c1c1c;
}

.rest-address{
  color: #696969;
  font-size: .9rem;
  line-height: 1.5;
}

.rest-time{
  color: #9c9c9c;
  font-size: .8rem;
  line-height: 1.5;
}

.btn-prod{
  margin-left: .5rem;
}

.cart{
  background-color: #fff;
  flex: 1;
  height: 100vh;
}

.cart-heading{
  text-align: center;
  font-size: 2rem;
}

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  margin-bottom: .5rem;
}

.item-quantity{
  width: 40px;
}

.cart-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

.btn-order{
  margin-right: 0;
}

.cart-total h3{
  font-size: 1.5rem;
}


@media (max-width: 768px){
  .cards{
    grid-template-columns: 1fr 1fr 1fr; 
  }
}

@media (max-width: 576px){
  .cards{
    grid-template-columns: 1fr 1fr; 
  }
}

@media (max-width: 360px){
  .cards{
    grid-template-columns: 1fr; 
  }
}

/* Filters */
.filters{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filter-container{
  background-color: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  color: #9c9c9c;
  font-size: .9rem;
  margin: 1rem .5rem;
  padding: .5rem 1rem;
  cursor: pointer;
}

.filter-container .fa-filter{
  font-size: 1rem;
  margin: 0 .25rem 0 0;
}

.filter-container .fa-angle-down{
  font-size: 1.2rem;
  margin: 0 0 0 .25rem;
}


