@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}


body{
    height: 100vh;
    width: 100%;
    /* background-color: #eee; */
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../images/bg/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* padding-top: 2.5rem; */
    position: relative;
}

.card {
  max-width: 320px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.upper-side {
  padding: 1rem;
  background-color: #8BC34A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .5rem .5rem 0 0;
}

.upper-side-red{
  background-color: #dc3545;
}

.lower-side {
  padding: 2rem 1rem;
  background: rgb(230, 248, 212);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 .5rem .5rem;
}

.btn {
  text-decoration: none;
  background: #8bc34a;
  color: #fff;
  outline: none;
  border: none;
  margin: .5rem auto;
  padding: .8rem 3rem;
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  cursor: pointer;
	transition: all .4s ease;
  text-transform: uppercase;
}

.btn:hover {
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	transition: all .4s ease;
}

.fa {
  font-size: 48px;
  margin-bottom: .5rem;
}

.status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-bottom: 0;
}

.message {
  margin: .5rem 0;
  color: #757575;
  letter-spacing: 1px;
}

.top-bar{
  width: 100%;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 2rem;
  background-color: #fff;
}

.top-bar-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-bar-left .logo{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #8bc34a;
}
.top-bar-left .logo span {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #1c1c1c;
}

.top-bar-mid{
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-btn,
.register-btn{
  display: inline-block;
  border: 2px solid #0C9463;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  letter-spacing: 1px;
  transition: all .3s ease;
}

.login-btn,
.btn-apply{
  color: #fff;
  background: #0C9463;
}

.login-btn:hover,
.btn-apply:hover{
  filter: brightness(.9);
}

.register-btn{
  color: #0C9463;
}

.register-btn:hover{
  color: #fff;
  background-color: #0C9463;
}

/* Search Bar CSS */
.search-box{
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(28, 28, 28, .2);
  padding:.5rem;
}

.input-container{
  display: flex;
  align-items: center;
}

.fa-map-marker,
.fa-search{
  font-size: 1.5rem;
  margin: .5rem;
  color: #757575;
}

.fa-search{
  font-size: 1.2rem;
  margin-top: .7rem;
}

.locality{
  flex: 1;
  display: flex;
}

.location{
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-bar{
  flex: 2;
  display: flex;
}

.search-bar input[type="submit"]{
  display: none;
}

.divider{
  width: 0;
  height: 40px;
  border: 1px solid #757575;
  margin: 0 .5rem;
}

.search{
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search::placeholder{
  color: #696969;
}


/* Headings */
.main-heading{
  max-width: 1140px;
  width: 95%;
  margin: .75rem auto 0;
}

.heading{
  font-size: 1.8rem;
  color: #1c1c1c;
}

/* Reataurants css */
.cards{
  max-width: 1140px;
  width: 95%;
  display: grid; 
  margin:0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  /* grid-template-rows: 1fr;  */
  gap: 0px 20px; 
}

.rest-card{
  width: 100%;
  background-color: #fff;
  padding: .5rem;
  margin: .5rem 0;
  border-radius: 10px;
  transition: all .3s ease;
  cursor: pointer;
}

.rest-card:hover{
  box-shadow: 0px 8px 24px rgba(28, 28, 28, .2);
}

.rest-img{
  width: 100%;
  height: 160px;
  border-radius: 10px;
  position: relative;
}

.rest-img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.rating{
  position: absolute;
  top: 170px;
  right: 3px;
  /* border: 1px solid #0C9463; */
  border-radius: 5px;
  background-color: #0C9463;
  color: #fff;
  font-size: .8rem;
  padding: .1rem .4rem;
}

.rating .fa-star{
  font-size: .8rem;
  margin: 0;
}

.rest-heading{
  margin: .5rem 0 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #1c1c1c;
}

.rest-address{
  color: #696969;
  font-size: .9rem;
  line-height: 1.5;
}

.rest-time{
  color: #9c9c9c;
  font-size: .8rem;
  line-height: 1.5;
}

.cart{
  background-color: #fff;
  flex: 1;
  height: 100vh;
}

.cart-heading{
  text-align: center;
  font-size: 2rem;
}

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  margin-bottom: .5rem;
}

.item-quantity{
  width: 40px;
}

.cart-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

.btn-order{
  margin-right: 0;
}

.cart-total h3{
  font-size: 1.5rem;
}


@media (max-width: 768px){
  .cards{
    grid-template-columns: 1fr 1fr 1fr; 
  }
}

@media (max-width: 576px){
  .cards{
    grid-template-columns: 1fr 1fr; 
  }
}

@media (max-width: 360px){
  .cards{
    grid-template-columns: 1fr; 
  }
}

/* Filters */
.filters{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
}

.filter-container{
  background-color: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  color: #9c9c9c;
  font-size: .9rem;
  margin-left: 1.5rem;
  padding: .5rem 1rem;
  cursor: pointer;
}

.filter-container:hover{
  border: 1px solid #757575;
  color: #757575;
}

.filter-container .fa-filter{
  font-size: 1rem;
  margin: 0 .25rem 0 0;
}

.filter-container .fa-angle-down{
  font-size: 1.2rem;
  margin: 0 0 0 .25rem;
}

/* menu card css */
.menu-card{
  width: 100%;
  background-color: #fff;
  padding: .5rem;
  margin: .5rem 0;
  border-radius: 10px;
  transition: all .3s ease;
}

.menu-img{
  width: 100%;
  height: 160px;
  border-radius: 10px;
}

.menu-img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.menu-details{
  margin-top: .5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu-heading{
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #1c1c1c;
}

.menu-desc{
 color: #9c9c9c;
  font-size: .8rem;
  line-height: 1.5;
}

.menu-price{
  color: #1c1c1c;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5;
}

.add-menu{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .25rem;
  background: #0C9463;
  border-radius: 50%;
  cursor: pointer;
}

.add-menu .fa-plus{
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}


/* Filter modal */
.filter-modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  /* opacity: 1; */
  /* visibility: visible; */
  transition: all .3s ease;
}

.filter-modal.modal-active{
  visibility: visible;
  opacity: 1;
}

.filter-inner{
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
}

.filter-header{
  color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.filter-header h3{
  font-size: 1.5rem;
}

.filter-header .fa{
  font-size: 1.25rem;
  height: 30px;
  width: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: rgba(0,0,0,0.5);
  transition: all .3s ease;
}

.filter-header .fa:hover{
  background-color: rgba(0,0,0,0.2);
  color: #1c1c1c;
}

.filter-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .25rem;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.filter-footer .btn-apply{
  font-size: .9rem;
  padding: .75rem 1.5rem;
  margin: .5rem 1rem .5rem auto;
}

.tabs{
    width:100%;
    height:auto;
    margin:0 auto;
    display: flex;
}

/* tab list item */
.tabs .tabs-list{
    list-style:none;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
}

.tabs .tabs-list li{
    flex: 1;
    width:120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0,0,0,0.1);
    border-left: 5px solid transparent;
    border-right: 1px solid rgba(0,0,0,0.1);
    padding-left: .75rem;
}

.tabs .tabs-list li:hover{
    cursor:pointer;
}
.tabs .tabs-list li a{
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 600;
}

/* Tab content section */
.tabs .tabs-content{
  flex: 1;
  margin-right: 1rem;
}

.tabs .tab{
    display:none;
    min-height:320px;
    height:auto;
    border-radius:3px;
    padding:.75rem .5rem;
    transition: all .3s ease;
 }

.tabs .tab h3{
    letter-spacing:1px;
    font-weight:normal;
    padding:5px;
}

.tabs .tab p{
    line-height:20px;
    letter-spacing: 1px;
}

/* When active state */
.active{
    display: block !important;
}

.tabs .tabs-list li.active{
    background-color: #fff !important;
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    border-left-color:#0C9463;
}

.active a{
    color:#1c1c1c !important;
}


/* Sort filter */
.radio-item {
  display: block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #696969;
  font-weight: normal;
}

.radio-item label:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  left: -1px;
  margin: 0 5px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #0C9463;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 6px;
  left: 8px;
  content: "";
  display: block;
  background: #0C9463
}

/* Mealtype & Cuisines options */
.search-mealtype,
.search-cuisine{
  border: 1px solid #757575;
  border-radius: 5px;
  display: flex;
  padding: 2px;
}

.search-mealtype input,
.search-cuisine input{
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #1c1c1c;
  padding-left: .25rem;
}

.mealtype-checkboxes,
.cuisine-checkboxes{
  margin-top: .5rem;
  height: 245px;
  overflow-y: scroll;
}

.mealtype,
.cuisine{
  width: 49%;
  display: inline-block;
  padding-left: .5rem;
  margin-bottom: .5rem;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #ddd;
}

.styled-checkbox:hover + label:before {
  background: #0C9463;
}

.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #0C9463;
}

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}


/* Price Slider Css */
.slider-wrapper{
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 50px 40px 20px 40px;
}

.slider-container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track{
    width: 100%;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #0C9463;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -9px;
    pointer-events: auto;
}
input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #0C9463;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -9px;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #0C9463;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -9px;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #fff;
    border: 2px solid #0C9463;
}

.slider-values{
    width: 100%;
    position: relative;
    margin: auto;
    padding: .25rem 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* biil start */

.payment-page-content{
  background:#fff;
  width:95%;
  max-width: 900px;
  margin:30px auto;
  padding:30px;
  border-radius: 10px;
}
.payment-page-content h2,
.payment-page-content h3{
  margin:0;
}
.payment-page-content h2{
  text-align:center;
}
.payment-list-wrapper{
  padding:0;
  margin:40px 0;
}
.payment-list-item{
  margin-top:10px;
  list-style-type:none;
  display:flex;
  justify-content:space-between;
  border-bottom:1px solid #808080;
  padding:5px 0;
}
.payment-total-wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.payment-confirmation-wrapper{
  margin:20px 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
}
.payment-button{
  margin:10px 0;
  padding:10px 0;
  background:#0C9463;
  color:#fff;
  font-weight:500;
  border:none;
}

@media screen and (max-width:767px){
  .payment-page-content{
    width:100%;
  }
}
/* bill end */

/* cart start */
.fa-trash-o{
  font-size: 1.2rem;
}
.cart-heading{
  font-size: 1.5rem;
  font-weight: 600;
}
.edit-btn{
  height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
}
.edit-btn:hover{
  background-color: #0C9463;
  color: white;
}
.subtotal{
  font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin-right: 38px;
    margin-top: 10px;
}
/* cart end */