<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/modals.css" />
    <title>Reset Password</title>
  </head>
<body>
 
<div class="container container-small" id="container">
	<div class="form-container form-100">
		<form action="#" id="signin-form">
			<h2 class="form-sub-heading">Reset Password</h2>
      <div class="input-container">
          <i class="fa fa-lock input-icon"></i>
			    <input type="password" placeholder="Enter new password" id="password" name="password" class="input-inner" onkeyup="validate(event)"/>   
      </div>
      <div class="input-container">
          <i class="fa fa-lock input-icon"></i>
			    <input type="password" placeholder="Confirm Password" id="cpassword" name="cpassword" class="input-inner" onkeyup="validate(event)"/>	
      </div>
			<button type="submit" id="login" class="btn btn-green btn-rounded">Reset</button>
		</form>
	</div>
	</div>
  
  <!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<i class="fa fa-times btn-circular" id="close"></i>
			<h3 class="modal-text" id="modal-text"></h3>
		</div>
	</div>
	
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/validate.js"></script>
<script src="/js/modal.js"></script>

<script>
  let port = window.location.port ? ':'+window.location.port: '';
  let baseUrl = `${window.location.protocol}//${window.location.hostname}${port}`;

  const queryString = window.location.search;
  // console.log(queryString);
  const urlParams = new URLSearchParams(queryString);
  // console.log(urlParams);
  const userId = urlParams.get('userId');
  // console.log(userId);

  document.getElementById('login').onclick = function(e){
      e.preventDefault();
      const form = document.getElementById('signin-form');
                
      // getting the element's value
      const password = form.elements['password'].value;
      const confirmPassword = form.elements['cpassword'].value;

      if(password && confirmPassword){
          const data = { password :password ,confirmPassword:confirmPassword }

          axios.post( `${baseUrl}/resetPassword/${userId}`, data).then(res => {
                  window.location=`${baseUrl}/login`
              }).catch(err => {
                  openModal(err.response.data.error)
              })
      }else{
          console.log("Fields should not be empty");
      }
    }
</script>
</body>
	</html>